@media only screen {
	body {
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
	.hover {
		cursor: pointer;
	}
	header {
		position: relative;
	}
	header #left-icon, header #right-icon {
		position:absolute;
		top: 50%;
		transform:translateY(-50%);
		left: 10px;
	}
	header #right-icon {
		right: 10px;
		left: auto;
	}
	header, footer {
		height: 50px;
	}
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	#calendar-wrapper {
		padding: 0;
		max-width: 1200px;
		margin: 0px auto;
		position:relative;
		height: 100%;
		width: 100%;
	}
	#calendar {
		height: calc(100vh - 100px);
		position: absolute;
		overflow: hidden;
		top: 50px;
		left: 0px;
		width: 100%;
	}
	#calendar > .view-wrapper {
		position: absolute;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	} 
	#calendar > .view-wrapper.modal {
		width: 300px;
	    background: #fff;
	    right: -300px;
	    position: fixed;
	    top: 0;
	    z-index: 5;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    transition: right 0.3s ease;
	}
	#calendar > .view-wrapper > .view-content-wrapper {
		padding: 0px 10px;
		height: 100%;
		overflow-y: scroll;
/* 		max-width: 1200px; */
		margin: 0px auto;
	}
	.year > .months-wrapper .month {
		width: 12.667%;
	    margin: 0px 2%;
	    display: inline-block;
	    text-decoration: none;
	    color: black;
	}
	.year > .months-wrapper .days span {
		display:inline-block;
		width: 14.286%;
		float:left;
		text-align:center;
		padding: 5px 0px;
	}
	.year > .months-wrapper .days span.today {
		background:red;
		color:white;
	}
	.weekday-list {
		background: #cccccc;
		padding: 5px 0px;
		height: 20px;
	}
	.weekday-list > div {
		width: 14%;
		display:inline-block;
		height: 100%;
		text-align: center;
	}
	#months-expanded-container {
		overflow-x: hidden;
		overflow-y: scroll;
		margin: 0px;
		height: calc(100% - 30px);
	}
	.month-expanded {
		overflow-y:auto;
	}
	.month-expanded > .days > a {
		width: 14%;
		border: 1px #cccccc solid;
		height: 150px;
		float:left;
		margin: 0px;
		text-decoration: none;
		color:black;
	}
	.month-expanded > .days > a[data-disabled] {
		border: #f2f2f2 1px solid;
	}
	.month-expanded > .days > a > p {
		margin: 5px;
		text-align: right;
	}
	.month-expanded > .days > a > p.grey > span {
		color: grey;
	}
	.month-expanded > .days > a > p.today > span {
		background: red;
		color: white;
		width: 25px;
	    display: inline-block;
	    text-align: center;
	    height: 25px;
	    border-radius: 50%;
	    padding: 3px 0px 0px 0px;
		box-sizing: border-box;
	}
	.month-expanded > .days > a > .events {
		margin-top: 15px;
	}
	.month-expanded > .days > a > .events > .event {
		padding: 3px 8px;
		border-radius: 10px;
		font-size: 13px;
	}
	.month-expanded > .days > a > .events > .event.purple {
		background: purple;
		color: white;
	}
	.day-wrapper {
		position: relative;
		margin-top: 30px;
	}
	.day-wrapper > .cell {
		position:relative;
		height: 75px;
	}
	.day-wrapper > .cell > div:nth-of-type(1) {
		position: absolute;
		height: 100%;
		width: 45px;
	}
	.day-wrapper > .cell > div:nth-of-type(1) > p {
		color: grey;
		font-size: 14px;
		margin: -10px 0px 0px 0px;
	}
	.day-wrapper > .cell > div:nth-of-type(2) {
		height: 100%;
		border-top: 1px grey solid;
		margin-left: 55px;
		position: relative;
	}
	.day-wrapper > .cell > div:nth-of-type(2) > .event {
		position: absolute;
		border-radius: 5px;
	    background: green;
	    width: 25%;
	    padding: 0px;
	    box-sizing: border-box;
	    height: 200%;
	    font-size: 14px;
	    z-index: 2;
	}
	.day-wrapper > .cell > div:nth-of-type(2) > .event > p {
		color: white;
		margin: 0;
		text-align: left;
		padding: 2px 5px;
	}
	#overlay {
		position: fixed;
	    background: rgba(0,0,0,0.3);
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
}
