@media only screen {
	* {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		box-sizing: border-box;
	}
	body {
		overflow: hidden;
		padding: 0;
		margin: 0;
		color: #60656f;
	}
	input, textarea {
		border: 2px solid #f2f4f7;
		border-radius: 3px;
		color: #60656f;
		font-size: 16px;
		line-height: 1;
		padding: 10px 16px;
		-webkit-appearance: none;
		display: block;
		width: 100%;
	}
	textarea {
		line-height: 1.5;
		height: 125px;
	}
	input:focus, textarea:focus, select:focus {
		outline: 0;
		border-color: #82c8ff;
	}
	.hover {
		cursor: pointer;
	}
	.button {
		background: #E64E42;
		padding: 11px 16px;
		font-size: 16px;
		text-align: center;
		border-radius: 3px;
		display:block;
		color: #fff;
		-webkit-appearance: none;
		width: 100%;
		margin: 20px 0px;
		border:none;
		outline:none;
	}
	header {
		position: relative;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	}
	header > div, footer > div {
		max-width: 1200px;
		margin: 0px auto;
		position: relative;
		height: 100%;
	}
	header #left-icon, header #right-icon {
		position:absolute;
		top: 50%;
		transform:translateY(-50%);
		left: 10px;
	}
	header #left-icon > img, header #right-icon > img {
		height: 23px;
		width: auto;
	}
	header #left-icon > span, header #right-icon > span {
		color: #E64E42;
		margin: 0px;
		display: inline-block;
		position: relative;
		top: -5px;
		left: 5px;
	}
	header #right-icon {
		right: 10px;
		left: auto;
	}
	header, footer {
		height: 50px;
	}
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	}
	#calendar-wrapper {
		padding: 0;
		margin: 0px auto;
		position:relative;
		height: 100%;
		width: 100%;
	}
	#calendar {
		height: calc(100vh - 100px);
	    position: absolute;
	    overflow: hidden;
	    top: 50px;
	    width: 100%;
	    max-width: 1200px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.view-wrapper {
		position: absolute;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	} 
	.view-wrapper.modal {
		width: 300px;
	    background: #fff;
	    right: -300px;
	    position: fixed;
	    top: 0;
	    z-index: 5;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    transition: right 0.3s ease;
	}
	.view-wrapper > .view-content-wrapper {
		padding: 0px 10px;
		height: 100%;
		overflow-y: scroll;
		margin: 0px auto;
	}
	.year {
		margin: 0px 0px 15px 0px;
	}
	.year > h3 {
		margin: 0px;
	    font-weight: bold;
	    padding: 5px 0px;
	    border-bottom: 1px #f2f2f2 solid;
	    font-size: 150%;
	}
	.year > h3.selected {
		color: #E64E42;
	}
	.year > .months-wrapper .month {
		width: 29.3333%;
	    margin: 0px 2%;
	    display: inline-block;
	    text-decoration: none;
	    color: black;
	}
	.year > .months-wrapper .month h4 {
		margin: 10px 0px 0px 0px;
	}
	.year > .months-wrapper .month h4.selected {
		color:#E64E42;
	}	
	.year > .months-wrapper .days span {
		display:inline-block;
		width: 14.286%;
		float:left;
		text-align:center;
		padding: 2px 0px;
		font-size: 10px;
	}
	.year > .months-wrapper .days span.today {
		background:#E64E42;
		color:white;
	}
	.weekday-list {
		padding: 5px 0px;
		height: 20px;
		margin: 10px 0px 0px 0px;
	}
	.weekday-list > div, .day-info .weekday-list > div, .day-info .weekday-numbers > div {
		width: 14%;
		display:inline-block;
		height: 100%;
		text-align: center;
		font-size: 14px;
	}
	.weekday-list > div > span {
		display:none;
	}
	#months-expanded-container {
		overflow-x: hidden;
		overflow-y: scroll;
		margin: 0px;
		height: calc(100% - 30px);
	}
	.month-expanded {
		overflow-y:auto;
	}
	.month-expanded > h4 {
		margin: 0px 0px 10px 0px;
	}
	.month-expanded > h4.selected {
		color: #E64E42;
	}
	.month-expanded > .days > a {
		width: 14%;
		border-top: 1px #cccccc solid;
		height: 60px;
		float:left;
		margin: 0px;
		text-decoration: none;
		color:black;
		position:relative;
	}
	.month-expanded > .days > a[data-has-events]::after {
		content: "";
		background: #e6e6e6;
		position:absolute;
		top: 60%;
		left: 50%;
		border-radius: 50%;
		transform: translate(-50%, 0%);
		height: 8px;
		width: 8px;
	}
	.month-expanded > .days > a[data-disabled] {
		border: none;
	}
	.month-expanded > .days > a > p {
		margin: 5px;
		text-align: center;
	}
	.month-expanded > .days > a > p.grey > span {
		color: #bfbfbf;
	}
	.month-expanded > .days > a > p.today > span {
		background: #E64E42;
	    color: white;
	    width: 25px;
	    display: inline-block;
	    text-align: center;
	    padding: 1px 0px;
	}
	.month-expanded > .days > a > .events {
		display:none;
	}
	.month-expanded > .days > a > .events > .event {
		padding: 5px 2px;
		border-radius: 2px;
		font-size: 13px;
		margin: 2px 0px;
	}
	.month-expanded > .days > a > .events > .event.purple {
		background: purple;
		color: white;
	}
	.month-expanded > .days > a > .events > .event > p, .week-wrapper .event > p {
		margin: 0px;
		font-size: 14px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.day-wrapper {
		position: relative;
		margin-top: 30px;
/* 		height: 100%; */
		width: 100%;
	}
	.day-wrapper > .cell {
		position:relative;
		height: 75px;
	}
	.day-wrapper > .cell > div:nth-of-type(1) {
		position: absolute;
		height: 100%;
		width: 45px;
	}
	.day-wrapper > .cell > div:nth-of-type(1) > p {
		color: #b3b3b3;
		font-size: 14px;
		margin: -10px 0px 0px 0px;
	}
	.day-wrapper > .cell > div:nth-of-type(2) {
		height: 100%;
		border-top: 1px #e6e6e6 solid;
		margin-left: 55px;
		position: relative;
	}
	.day-wrapper > .cell > .reference-cell > .event, .week-wrapper .event {
		position: absolute;
		border-radius: 5px;
	    background: green;
	    width: 25%;
	    padding: 0px;
	    box-sizing: border-box;
	    height: 200%;
	    font-size: 14px;
	    z-index: 2;
	}
	.day-wrapper > .cell > div:nth-of-type(2) > .event > p, .event, .week-wrapper .event > p {
		color: white;
		margin: 0;
		text-align: left;
		padding: 2px 5px;
	}
	.day-info {
		overflow: auto;
		padding-top: 10px;
		border-bottom: 2px solid #E64E42;
	}
	.day-info > div {
		max-width: 500px;
		margin: 0px auto;
	}
	.day-info > div > div {
		margin: 0px 0px 5px 0px;
	}
	.day-info .weekday-list > div {
		font-size: 12px;
	}
	.day-info .weekday-numbers > div {
		height: auto;
		font-size: 16px;
		position: relative;
		box-sizing: border-box;
	}
	.day-info .weekday-numbers > div.selected::after {
		content: "";
		height: 30px;
		width: 30px;
		background: #E64E42;
		position: absolute;
		top: -6px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 50%;
	}
	.day-info .weekday-numbers > div > span {
		z-index: 2;
		position: relative;
	}
	.day-info .weekday-numbers > div.selected > span {
		color: white;
	}
	.day-info .today {
		text-align: center;
		margin: 10px 0px 5px 0px;
	}
	#overlay {
		position: fixed;
	    background: rgba(0,0,0,0.3);
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	}
	.swiper-container {
		height: calc(100% - 100px);
	}
	.swiper-slide {
/*       	overflow-y: scroll; */
    }
    .week-wrapper {
		display: none;
		pointer-events: none;
	}
	.input-group {
		margin: 15px 0px;
		display: inline-block;
		width: 100%;
	}
	.input-group > p {
		font-size: 14px;
		text-transform: uppercase;
		color: #60656f;
		margin: 0px;
		line-height: 1.5;
	}
}

@media only screen and (min-width: 550px) {
	.year > .months-wrapper .month {
		width: 21%;
	}
}

@media only screen and (min-width: 750px) {
	.month-expanded > .days > a {
		height: 125px;
	}
	.month-expanded > .days > a > .events {
		margin-top: 15px;
		display:block;
	}
	.month-expanded > .days > a[data-has-events]::after {
		display:none;
	}
	.month-expanded > .days > a > p {
		text-align: right;
	}
}

@media only screen and (min-width: 800px) {
	.weekday-list > div > span {
		display:inline;
	}
}

@media only screen and (min-width: 900px) {
	.year > .months-wrapper .month {
		width: 12.667%;
	}
	.day-wrapper, .day-info {
		display:none;
		pointer-events: none;
	}
	.swiper-container {
		height: 100%;
	}
	.week-wrapper {
		display: block;
		overflow: hidden;
		pointer-events: auto;
	}
	.week-wrapper > .week-info {
		height: 50px;
		/* background: orange; */
		border-bottom: 2px solid #E64E42;
	}
	.week-wrapper > .week-info > div {
		height: 100%;
		padding-top: 10px;
		box-sizing: border-box;
	}
	.week-wrapper > .week-info > div > div {
		width: 20px;
		/* background: red; */
		margin: 0px 10px;
		display:inline-block;
		height: 30px;
		vertical-align: middle;
		box-sizing: border-box;
		padding: 7px 5px 0px 5px;
	}
	.week-wrapper > .week-info > div > div > img {
		width: 100%;
		height: auto;
	}
	.week-wrapper > .week-info > div > p {
		display:inline-block;
		margin: 0px;
		vertical-align: middle;
	}
	.week-wrapper > .week-info .today {
		background: #f2f2f2;
	    display: inline-block;
	    padding: 5px 10px;
	    border-radius: 3px;
	    font-weight: bold;
	    font-size: 14px;
	    margin: 0px 10px;
	    color: grey;
	}
	.week-wrapper > .week {
		height: calc(100% - 50px);
		position: relative;
	}
	.week-wrapper > .week > .week-day-titles {
		height: 70px;
		padding-left: 50px;
		border-bottom: 1px solid #e6e6e6;
	}
	.week-wrapper > .week > .week-day-titles > div {
		display:inline-block;
		width: calc(100%/7);
		margin: 0;	
		padding: 5px 20px;
		box-sizing: border-box;
		vertical-align: top;
		border-right: 1px solid #e6e6e6;
	}
	.week-wrapper > .week > .week-day-titles > div:last-of-type {
		border-right: none;
	}
	.week-wrapper > .week > .week-day-titles > div > p:nth-of-type(1) {
		font-size: 14px;
		margin: 5px 0px;
	}
	.week-wrapper > .week > .week-day-titles > div > p:nth-of-type(2) {
		font-size: 28px;
		margin: 0px;
	}
	.week-wrapper > .week > .week-day-titles > div.today {
		background: #f2f2f2;
	}
	.week-wrapper > .week > .week-day-titles > div.today > p:nth-of-type(2) {
		color: #E64E42;
	}
	.week-wrapper > .week > .week-events-wrapper {
		height: calc(100% - 70px);
		overflow-y: scroll;
		position: relative;
		padding-top: 10px;
		box-sizing: border-box;
	}
	.week-wrapper > .week > .week-events-wrapper > .day-times {
		position: absolute;
		width: 50px;
		left: 0;
		top: 10px;
	}
	.week-wrapper > .week > .week-events-wrapper > .week-events {
		margin-left: 50px;
		box-sizing: border-box;
	}
	.week-wrapper > .week > .week-events-wrapper > .week-events > div {
		width: calc(100%/7);
		border-right: 1px #e6e6e6 solid;
		display:inline-block;
		margin: 0;
		box-sizing: border-box;
		float:left;
	}
	.week-wrapper > .week > .week-events-wrapper > .week-events > div:last-of-type {
		border-right: none;
	}
	.week-wrapper > .week > .week-events-wrapper > .week-events > div.today {
		background: #f2f2f2;
	}
	.week-wrapper > .week > .week-events-wrapper > .week-events > div > .cell, .week-wrapper .day-times > div {
		height: 60px;
		display: block;
		border-bottom: 1px solid #e6e6e6;
		box-sizing: border-box;
	}
	.week-wrapper .day-times > div {
		overflow: visible;
		position:relative;
		border-right: 1px #e6e6e6 solid;
		border-bottom: none;
	}
	.week-wrapper .day-times > div > p {
		margin: 0;
		position: relative;
		top: -9px;
		left:0;
		text-align: center;
		font-size: 14px;
		color: #b3b3b3;
	}
	.week-wrapper .reference-cell {
		position:relative;
	}
}